<h1>Products</h1>
<table class="table">
  <thead>
    <tr>
  <th width = "20%"> Categories </th>
  <th> Title </th>
  <th> Price </th>
  <th colspan="3"></th>
   </tr>
    </thead>
  <tbody>
<% @products.each do |product| %>
    <tr>
<td> <%= product.category %> </td>
<td> <%= product.title %> </td>
<td> <%= product.price %> </td>
<th colspan="3"></th>
    </tr>
<% end %>
</tbody>
</table>